@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@theme {
  --font-base: 'Inter', sans-serif;

  --color-headline: #e5e5e5;
  --color-paragraph: #737373;

  --color-bg-primary: #0a0a0a;
  --color-bg-sec: #1a1a1a;

  --color-theme: #3b82f6;
}
